BAR_APP_CORS_ORIGINS=https://kester7ka.github.io
BAR_APP_ADMIN_USER=admin
BAR_APP_ADMIN_PASSWORD=смени-на-надёжный-пароль
HONEST_MARK_URL=https://mobile.api.crpt.ru/mobile/check
SCHEDULE_PUBLIC_KEY=https://disk.360.yandex.ru/d/XXXXXXXXXXXX
BAR_APP_DB_PATH=/data/bar.db
BAR_APP_KB_PATH=/data/kb_overrides.json
